include components/_meta

+meta() 
body 
 +hero(data.superheros[3], data.menu)
 .padding
   +notification(data.notification)
   h2.title Super Heroes anteriores
   .cards
      each superhero in data.superheros
         if superhero.name != "batman"
            +card(superhero)
   +footer(data.footer)
 +scripts() 
 