include components/_meta

+meta() 
body 
 +hero(data.superheros[4], data.menu)
 h2.title Super Heroes anteriores
 .cards
  each superhero in data.superheros
   if superhero.name != "spiderman"
    +card(superhero)
 +scripts() 
 