include components/_meta

+meta() 
body 
 +hero(data.superheros[1], data.menu)
 .wrapper
   +notification(data.notification)
   h2.title Super Heroes anteriores
   .cards
      each superhero in data.superheros
         if superhero.name != "superman"
            +card(superhero)
   +footer(data.footer)
 +scripts() 
 