.bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;

  &__percentage {
    min-width: 20%;
    padding: size() size(2);
    transition: width 0.5s;
  }

  &__like {
    background-color: $greentransparent;
  }

  &__dislike {
    background-color: $orangetransparent;
  }

  &__number {
    font-size: rem(24);
    color: $white;
    line-height: 1;

    &Like {
      text-align: end;
    }
  }

  @media ($mediamin) {
    &__number {
      font-size: rem(48);
    }
  }

  @media ($medialarge) {
    &__percentage {
      min-width: 10%;
    }
  }
}
