.bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;

  &__percentage {
    padding: size() 0;
    transition: width 0.5s;
    display: flex;
  }

  &__like {
    background-color: $greentransparent;
    justify-content: flex-end;
  }

  &__dislike {
    background-color: $orangetransparent;
  }

  &__number {
    font-size: rem(24);
    color: $white;
    line-height: 1;
    display: flex;
    margin: 0 size(2);

    &Like {
      &::before {
        padding: 0 size();
        content: "\62";
        font-family: "exista-icons" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
      }
    }

    &Dislike {
      &::after {
        padding: 0 size();
        content: "\61";
        font-family: "exista-icons" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
      }
    }
  }

  @media ($mediamin) {
    &__number {
      font-size: rem(30);
    }
  }

  @media ($medialarge) {
    &__number {
      font-size: rem(48);
    }
  }
}
