.bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;

  &__percentage {
    padding: size() size(2);
    transition: width 0.5s;
  }

  &__like {
    background-color: $greentransparent;
  }

  &__dislike {
    background-color: $orangetransparent;
  }

  &__number {
    font-size: rem(48);
    color: $white;
    line-height: 1;

    &Like {
      text-align: end;
    }
  }
}
