.card {
  min-height: size(65);
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: flex-end;
  padding-bottom: size(10);
  margin-bottom: size(4);

  &__header {
    display: flex;
    align-items: center;
  }

  &__icon {
    font-size: size(2);
    padding: size();
  }

  &__title {
    font-size: size(5.5);
    @include lato;
    text-transform: capitalize;
  }

  &__description {
    font-size: size(2);
    width: 80%;
    padding: size(2) size(4);
    @include latoLight;
  }

  &__link {
    font-size: size(1.7);
  }

  &__text {
    font-size: size(1.5);
    font-weight: bold;
    width: 20%;
    text-align: end;
  }

  &__cta {
    display: flex;
    justify-content: space-between;
    padding: size() size(4);
    align-items: center;
  }

  .bar {
    &__porcentage {
      padding: size() size(2);
    }

    &__number {
      font-size: rem(15);
    }
  }

  @media ($mediamin) {
    width: calc(50% - #{size(2.5)});

    .bar {
      &__number {
        font-size: rem(15);
      }
    }

    &__cta {
      flex-direction: column;
      align-content: center;
    }

    &__text {
      padding: size();
      width: 100%;
      text-align: center;
    }
  }

  @media ($medialarge) {
    &__cta {
      flex-direction: row;
      align-items: center;
    }

    &__text {
      padding: 0;
      width: 40%;
      text-align: end;
    }

    .bar {
      &__number {
        font-size: rem(30);
      }
    }
  }
}
