.hero {
  padding: size(3) size(15) size(15);
  background-image: url("/images/ironman.png");
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;

  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: size(9);
    color: $white;
  }

  &__option {
    color: $white;
    font-size: rem(16);
    padding: size() size(3);
    text-decoration: none;
  }

  &__iconSearch {
    padding: 0 size(4);
    display: inline;
  }

  &__vote {
    width: 50%;
    color: $white;
    backdrop-filter: blur(size(2));
    background: rgba(0, 0, 0, 0.4);
  }

  &__voteinfo {
    padding: size(4) size(3);
  }

  &__voteTitle {
    font-size: rem(60);
    margin-bottom: size(3);
  }

  &__voteText {
    font-size: rem(21);
    margin-bottom: size(2);
  }

  &__voteLink {
    display: block;
    font-size: rem(14);
    margin-bottom: size(2);
    color: $white;

    .icon-wikipedia {
      font-size: inherit;
      text-decoration: none;
    }
  }

  &__voteQuestion {
    font-size: rem(20);
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
  }

  &__button {
    cursor: pointer;
    padding: size(3);
    width: 100%;
    display: block;
    appearance: none;
    border: none;

    &Like {
      background-color: $green;
    }

    &Dislike {
      background-color: $orange;
    }
  }

  &__logo {
    width: 20%;
  }
}
