.hero {
  padding: size(3) size(2) size(15);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: size(4);
  max-width: $size-max-width;
  margin: 0 auto size(4);
  background-position: right;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(
      rgba(104, 107, 112, 0.8),
      rgba(104, 107, 112, 0.01)
    );
    width: 100%;
    height: size(10);
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: size(9);
    color: $white;
  }

  &__options {
    @include latoLight;
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: center;
  }

  &__option {
    color: $white;
    font-size: rem(16);
    padding: size() size(3);
    text-decoration: none;
  }

  &__iconSearch {
    display: inline;
    font-size: size(4);
  }

  .icon-wikipedia {
    display: inline-block;
    font-size: size(2.5);
    margin-right: size();
  }

  &__votewiki {
    display: flex;
  }

  &__vote {
    color: $white;
    backdrop-filter: blur(size(2));
    background: rgba(0, 0, 0, 0.4);
  }

  &__voteinfo {
    padding: size(4) size(3);
  }

  &__voteTitle {
    font-size: rem(45);
    margin-bottom: size(3);
  }

  &__voteText {
    font-size: rem(21);
    margin-bottom: size(2);
  }

  &__voteLink {
    font-size: rem(14);
    margin-bottom: size(2);
    color: $white;
    display: inline-block;
  }

  &__voteQuestion {
    font-size: rem(20);
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
  }

  &__button {
    cursor: pointer;
    padding: size(1);
    width: 100%;
    display: block;
    appearance: none;
    border: none;

    &Like {
      background-color: $green;
    }

    &Dislike {
      background-color: $orange;
    }
  }

  &__logo {
    z-index: 1;
  }

  &__vote-like {
    .hero__voteLike {
      display: flex;
      flex-direction: column;
    }
    .hero__voteinfo {
      display: none;
    }
    .hero__buttons {
      display: none;
    }
  }

  &__vote-dislike {
    .hero__voteLike {
      display: flex;
      flex-direction: column;
      .icon-like {
        display: none;
      }
      .icon-dislike {
        display: block;
      }
    }
    .hero__voteinfo {
      display: none;
    }
    .hero__buttons {
      display: none;
    }
  }

  &__voteLike {
    display: none;
    padding: size(4) size(3);
    .icons {
      padding: size(2);
      margin-right: size();
    }
    .icon-like {
      background-color: $green;
    }
    .icon-dislike {
      display: none;
    }
  }

  &__iconRegister {
    display: flex;
    align-items: center;
    margin-bottom: size(3);
  }

  &__likeName {
    padding-bottom: size(3);
    font-size: rem(35);
    @include latoLight;
  }

  &__likeRegister {
    font-size: rem(30);
    @include latoBold();
  }

  &__likeText {
    width: 80%;
    padding-bottom: size(4);
  }

  &__likeButton {
    width: 60%;
    cursor: pointer;
    font-size: rem(14);
    @include lato;
    padding: size() size(3);
    color: $white;
    border: 1px solid $white;
    background: transparent;
    margin: 0 auto size(2);
  }

  @media ($mediamin) {
    padding: size(3) size(15) size(15);

    &__options {
      flex-direction: row;
    }

    &__iconSearch {
      padding-left: size(4);
    }

    &__vote {
      width: 80%;
    }

    &__button {
      padding: size(3);
    }

    &__likeButton {
      width: 60%;
      margin: 0 auto size(6.5);
    }
  }

  @media ($medialarge) {
    padding: size(3) size(15) size(15);
    background-position: initial;

    &__vote {
      width: 60%;
    }

    &__voteTitle {
      font-size: rem(60);
      margin-bottom: size(3);
    }

    &__likeButton {
      width: 40%;
      margin: 0 auto size(9);
    }
  }
}
