.notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: size(2);
  background-color: $gray;

  &__subtitle {
    font-size: rem(21);
    @include latoLight;
  }

  &__title {
    font-size: rem(37);
    @include latoBold;
  }

  &__text {
    display: none;
    font-size: rem(15);
  }

  &__button {
    border: none;
    width: 10%;
    background-color: $gray;
    font-size: size(3);
  }

  @media ($mediamin) {
    &__text {
      display: block;
      font-size: rem(15);
      width: 50%;
    }

    &__button {
      width: 5%;
    }
  }

  @media ($medialarge) {
    &__text {
      width: 70%;
    }
  }
}
