$green: #00aea5;
$greentransparent: rgba(0, 174, 165, 0.6);
$orangetransparent: rgba(255, 163, 0, 0.6);
$orange: #ffa300;
$white: #ffffff;
$black: #000000;
$gray: #ececec;
$size-max-width: 1300px;
$mediamin: "min-width:768px";
$medialarge: "min-width:1129px";
