mixin bar(likes=50, dislikes=50)
 .bar 
  .bar__percentage.bar__like(style="width:" + likes +"%") 
   p.bar__number.bar__numberLike=likes +"%"
  .bar__percentage.bar__dislike(style="width:" + dislikes +"%")
   p.bar__number.bar__numberDislike=dislikes +"%"
