mixin card(data)

 .card(style="background-image:url("+ data.background + ")")
  .card__header
   img.card__image(src="/images/icons/dislike.svg", alt="")
   h2.card__title=data.name
  p.card__description=data.text
  .card__cta
   a.link(href=data.link)=data.linkText
   p.card__text
     |!{data.info} 
  +bar() 