mixin card(data)
 .card(style="background-image:"+ data.background)
  img(src="/images/icons/like.svg", alt="")
  h2.card__title=data.name
  p.card__description=data.text
  a.card__(href=data.link)=data.linkText
  p.card__text
  +bar() 