mixin footer(links)
 footer.footer
  .links 
   each link in data.footer.links
    a(href=link.link).footer__link=link.text
  .social 
   p.footer__followme Siguenos 
   .icon-facebook-squared
   .icon-twitter 